#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Type=Application
X-Created-By=zhullyb
Categories=chat;
Icon=deepin.com.dingtalk.com
Exec="/opt/apps/deepin.com.dingtalk.com/files/run.sh" -u %u
Name=DingTalk
Name[zh_CN]=钉钉
Comment=DingTalk Client on Deepin Wine
StartupWMClass=DingTalk.exe
MimeType=
