Package: deepin.com.dingtalk.com
Version: 5.1.9.11
Architecture: i386
Maintainer: zhullyb
Installed-Size: 97124
Depends: deepin-wine (>= 2.18-0), deepin-wine32, deepin-wine32-preloader, deepin-wine-helper (>= 1.2deepin2), deepin-wine-uninstaller
Conflicts: dingtalk.com
Replaces: dingtalk.com
Provides: dingtalk.com
Section: non-free/otherosfs
Priority: optional
Multi-Arch: foreign
Description: DingTalk Client on Deepin Wine
